node_modules/
jspm_packages/
package-lock.json
yarn.lock
pnpm-lock.yaml
.env
.env*
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
typings/
*.tsbuildinfo
.npm
.eslintcache
.dist
.node_repl_history
*.tgz
.yarn-integrity
.cache
.parcel-cache
.next
out
.nuxt
dist
.cache/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode/
.DS_Store
test-output/
screenshots/